body {
  font-size: 1.1em;
  height: 100%;
  line-height: 1.8;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

footer {
  height: 4vh;
  background-color: #202124;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  color: black;
}

h2 {
  font-size: 2em;
  font-family: 'Bebas Neue', cursive;
  color: gold;
  text-decoration: underline;
  text-underline-offset: 10px;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  color: gold;
}

a {
  text-decoration: none;
  color: inherit;
}

#hello {
  margin-top: 2%;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

#pagetitle {
  color: gold;
}

#footertxt {
  text-align: center;
  font-size: 1.5vh;
}

#languagesTitle {
  text-align: center;
  margin-bottom: 1vh;
}

#textalign {
  text-align: center;
  margin-top: 5%;
}

#introimage {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  margin-left: 4%;
  margin-top: -2%;
  border-radius: 50%;
  float: right;
}

#github,
#email,
#linkedin {
  width: 300px;
  height: 300px;
  display: flex;
  margin: auto;
  background-image: url("./assets/wave.gif");
  border-radius: 50%;
}

#art {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  width: 400px;
  border-radius: 15%;
  margin-left: 10%;
  margin-right: 5%;
  float: right;
}

#usn {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  width: 400px;
  border-radius: 15%;
  margin-top: 10%;
  margin-right: 15%;
  margin-left: 5%;
  margin-bottom: 5%;
  float: left;
}

#hike {
  box-sizing: border-box;
  max-width: 100%;
  height: 400px;
  width: 400px;
  border-radius: 15%;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 5%;
  float: right;
}

#ty {
  text-align: center;
  color: gold;
  font-family: 'Bebas Neue', cursive;
}

.down-arrow {
  position: absolute;
  top: 70vh;
  left: 50%;
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
  color: black;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0;
  }
}

.headalign {
  text-align: center;
}

.bannertext {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 13vh;
  transform: translate(-50%, -50%);
  font-family: 'Bebas Neue', cursive;
}

.banner {
  height: 85vh;
  background-image: url("./assets/banner.gif");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  background-color: white;
  filter: brightness(75%);
}

.containerBanner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 5vw;
  font-family: 'Bebas Neue', cursive;
  border-collapse: collapse;
}

.square {
  flex: auto;
  height: 100%;
  background-color: #202124;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 33.33%;
  height: 15vh;
  border: 1vh;
}

.containerText,
.containerTextIntro,
.containerTextAbout
 {
  margin: 0 20% 5% 20%;
}

.containerText2 {
  display: table;
  table-layout: fixed;
  border-spacing: 1.25vw;
  margin: 0 20% 5% 20%;
  height: auto;
  text-align: center;
  line-height: 1;
}

.skillsbox {
  display: table-cell;
  margin: auto;
  width: 30%;
  height: 40vh;
  float: inline-block;
  line-height: 1.8;
  border: gold outset .5pt;
  border-radius: 5%;
  background-color: #202124;
}

.carimg {
  margin-top: 5vh;
  margin-bottom: 15vh;
  display: block;
  border-radius: 25%;
  cursor: grab;
  max-width: 100%;
  height: auto;
}

.finalpara {
  text-align: center;
}

.linkbox {
  display: flex;
}

.linkcolumn {
  flex: 30%;
  padding: 5px;
}

.spacer {
  margin: 5%;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media (max-width: 926px) {
  #introimage {
    height: 150px;
    margin-left: 10%;
    border-radius: 10%;
    border: none;
    float: right;
  }

  #github,
  #email,
  #linkedin {
    width: 150px;
    height: 150px;
    display: flex;
    margin: auto;
  }

  #art,
  #usn,
  #hike {
    max-width: 100%;
    height: auto;
    margin: auto;
    width: 400px;
    border-radius: 15%;
  }

  .linkbox {
    display: table;
    margin: auto;
    margin-bottom: -15%;
  }

  .linkcolumn {
    display: table-row;
  }

  .bannertext {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 5vh;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue', cursive;
  }

  .containerText {
    margin: 0 5% 5% 5%;
    text-align: justify;
  }

  .containerTextIntro {
    margin: 0 5% 5% 5%;
    text-align: start;
  }

  .carimg {
    margin-top: 5vh;
    margin-bottom: 10vh;
    display: block;
    border-radius: 25%;
    cursor: grab;
    max-width: 100%;
    height: auto;
  }

  .containerText2 {
    display: flex;
    table-layout: fixed;
    flex-direction: column;
    margin: 0 5% 5% 5%;
    height: auto;
  }

  .containerTextAbout {
    margin: 0% 5% 5% 5%;
    text-align: justify;
  }

  .skillsbox {
    background-color: #202124;
    font-size: large;
    height: 40vh;
    width: auto;
    line-height: 1.8;
    margin: 2%;
    text-align: center;
    padding: 5%;
    border-radius: 2%;
  }
}