body {
  font-size: 1.1em;
  height: 100%;
  line-height: 1.8;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

footer {
  height: 4vh;
  background-color: #202124;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  color: black;
}

h2 {
  font-size: 2em;
  font-family: 'Bebas Neue', cursive;
  color: gold;
  text-decoration: underline;
  text-underline-offset: 10px;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  color: gold;
}

a {
  text-decoration: none;
  color: inherit;
}

#hello {
  margin-top: 2%;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

#pagetitle {
  color: gold;
}

#footertxt {
  text-align: center;
  font-size: 1.5vh;
}

#languagesTitle {
  text-align: center;
  margin-bottom: 1vh;
}

#textalign {
  text-align: center;
  margin-top: 5%;
}

#introimage {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  margin-left: 4%;
  border-radius: 50%;
  border: gold solid 2pt;
  float: right;
}

#github,
#email,
#linkedin {
  width: 300px;
  height: 300px;
  display: flex;
  margin: auto;
}

#art {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  width: 400px;
  border-radius: 15%;
  float: right;
  margin-right: 15%;
  margin-top: 10%;
  object-fit: cover;
}

#usn {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  width: 400px;
  margin-top: 15%;
  margin-left: 10%;
  border-radius: 15%;
  float: left;
}

#hike {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  width: 400px;
  border-radius: 15%;
  float: right;
  margin-right: 10%;
  margin-top: 10%;
}

#ty {
  text-align: center;
  color: gold;
  font-family: 'Bebas Neue', cursive;
}

.down-arrow {
  position: absolute;
  top: 70vh;
  left: 50%;
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
  color: black;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0;
  }
}

.headalign {
  text-align: center;
}

.bannertext {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 13vh;
  transform: translate(-50%, -50%);
  font-family: 'Bebas Neue', cursive;
}

.banner {
  height: 85vh;
  background-image: url("./assets/banner.gif");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  background-color: white;
  filter: brightness(75%);
}

.containerBanner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 5vw;
  font-family: 'Bebas Neue', cursive;
  color: white;
  border-collapse: collapse;
}

.square {
  flex: 1 0 auto;
  height: 100%;
  background-color: #202124;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 33.33%;
  height: 15vh;
  border: 1vh;
}

.containerText {
  margin: 0 20% 5% 20%;
}

.containerText2 {
  display: table;
  table-layout: fixed;
  border-spacing: 1.25vw;
  margin: 0 20% 5% 20%;
  height: auto;
  text-align: center;
  line-height: 1;
}

.skillsbox {
  display: table-cell;
  margin: auto;
  max-width: 30%;
  width: 30%;
  height: 15em;
  float: inline-block;
  line-height: 1.8;
  border: gold outset 5pt;
  background-color: #202124;
}

.carimg {
  margin-top: 5vh;
  margin-bottom: 15vh;
  display: block;
  border-radius: 25%;
  cursor: grab;
  max-width: 100%;
  height: auto;
}

.containerTextAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20% 0 20%;
  height: auto;
}

.blockLeft {
  width: 50%;
  height: auto;
  float: left;
}

.blockRight {
  width: 50%;
  height: auto;
  float: right;
}

.finalpara {
  margin: 0 20% 0% 20%;
  height: auto;
  text-align: center;
}

.linkbox {
  display: flex;
}

.linkcolumn {
  flex: 30%;
  padding: 5px;
}

.spacer {
  margin: 5%;
}